#header.container-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-weight: bold;
    font-size: 32px;
    letter-spacing: -1px;

    @media screen and (max-width: 576px) {
      font-size: 20px;
    }
  }

  .button-change {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    span {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;

      img {
        display: inline-block;
        vertical-align: bottom;
      }
    }
  }
}
